[Unit]
Description=Skewed Emacs + Gendl Containerized Development Environment
Documentation=https://github.com/gornskew/skewed-emacs
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=%%USER%%
Group=docker
WorkingDirectory=/home/%%USER%%/projects/skewed-emacs
Environment=HOME=/home/%%USER%%

ExecStartPre=/home/%%USER%%/projects/skewed-emacs/compose-dev init
ExecStart=/home/%%USER%%/projects/skewed-emacs/compose-dev up
ExecStop=/home/%%USER%%/projects/skewed-emacs/compose-dev down
ExecReload=/home/%%USER%%/projects/skewed-emacs/compose-dev restart
TimeoutStartSec=300
TimeoutStopSec=60
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
